<div class="flex w-screen h-screen font-display bg-teal-300 relative">
    <div class="flex flex-row">
        <div class="p-2">
            <div class="font-semibold 2xl:text-[3vh] xl:text-[3vh]">
                Страница логина
            </div>
                <!-- <div
                                    *ngIf="name.invalid && (name.dirty || name.touched)"
                                    class="alert"
                                    >
                                    <div *ngIf="name.errors?.['required']">Name is required.</div>
                                    <div *ngIf="name.errors?.['minlength']">
                                        Name must be at least 4 characters long.
                                    </div>
                                    <div *ngIf="name.errors?.['forbiddenName']">
                                        Name cannot be Bob.
                                    </div>
                                    </div> -->
            <form *ngIf="!isRegisterPage" [formGroup]="loginForm" (ngSubmit)="onSubmit()"
                class="-translate-y-1/2 top-1/2 absolute flex-col flex gap-1 2xl:ml-[10vw] 2xl:w-[20vw] xl:w-[20vw] xl:ml-[10vw]">
                <label>Email:</label>
                <input type="email" formControlName="email" class="rounded-xl shadow-inner 2xl:h-[4vh] xl:h-[6vh] p-2 2xl:text-[2vh] xl:text-[2.5vh] active:outline-none focus:outline-none" placeholder="Email...">
                <small *ngIf="email?.invalid && submitted">{{ getEmailErrorMessage() }}</small>

                <label class="">Пароль:</label>
                <input type="password" formControlName="password" class="rounded-xl shadow-inner 2xl:h-[4vh] xl:h-[6vh] p-2 2xl:text-[2vh] xl:text-[2.5vh] active:outline-none focus:outline-none"
                    placeholder="Пароль...">
                <small *ngIf="password?.invalid && submitted">{{ getPassErrorMessage() }}</small>

                <button type="submit"
                    class="p-1 bg-green-400 text-center 2xl:w-[7vw] xl:w-[7vw] rounded-xl 2xl:text-[2vh] xl:text-[2.3vh] 2xl:ml-[13vh] xl:ml-[13vh] 2xl:mt-[3vh] xl:mt-[3vh] font-medium cursor-pointer 2xl:hover:bg-green-500 xl:hover:bg-green-500 ">
                    Войти
                </button>
            </form>

            <div class="absolute bottom-[5vh]">
                <span (click)="toggleAuthPage()" class="text-sky-700 cursor-pointer xl:hover:underline">
                    Нет аккаунта? Зарегистрироваться
                </span>
            </div>
        </div>

        <div class="absolute right-0">
            <div class="font-semibold 2xl:text-[3vh] xl:text-[3vh] -translate-x-1/4">Страница регистрации</div>

            <form *ngIf="isRegisterPage" [formGroup]="registerForm" (ngSubmit)="onSubmit()"
                class="absolute flex flex-col gap-1 top-1/2 translate-y-1/2 right-[13vw] 2xl:w-[20vw] xl:w-[20vw]">
                <label>Имя пользователя:</label>
                <input type="text" formControlName="username" class="rounded-xl shadow-inner 2xl:h-[4vh] xl:h-[6vh] p-2 2xl:text-[2vh] xl:text-[2.5vh] active:outline-none focus:outline-none" placeholder="Имя...">
                <small *ngIf="username?.invalid && submitted">Имя обязательно</small>

                <label class="2xl:mt-[2vh] xl:mt-[2vh]">Email:</label>
                <input type="email" formControlName="email" class="rounded-xl shadow-inner 2xl:h-[4vh] xl:h-[6vh] p-2 2xl:text-[2vh] xl:text-[2.5vh] active:outline-none focus:outline-none" placeholder="Email...">
                <small *ngIf="regEmail?.invalid && submitted">{{ getEmailErrorMessage() }}</small>

                <label class="2xl:mt-[2vh] xl:mt-[2vh]">Пароль:</label>
                <input type="password" formControlName="password" class="rounded-xl shadow-inner 2xl:h-[4vh] xl:h-[6vh] p-2 2xl:text-[2vh] xl:text-[2.5vh] active:outline-none focus:outline-none"
                    placeholder="Пароль...">
                <small *ngIf="regPassword?.invalid && submitted">{{ getPassErrorMessage() }}</small>

                <button type="submit"
                    class="p-1 bg-green-400 text-center 2xl:w-[7vw] xl:w-[13vw] rounded-xl 2xl:text-[2vh] xl:text-[2.3vh] 2xl:ml-[13vh] xl:ml-[8vh] 2xl:mt-[3vh] xl:mt-[3vh] font-medium cursor-pointer 2xl:hover:bg-green-500 xl:hover:bg-green-500 ">
                    Зарегистрироваться
                </button>
            </form>

            <div class="top-[92vh] w-[15vw] right-[5vw] absolute">
                <span (click)="toggleAuthPage()" class="text-sky-700 cursor-pointer xl:hover:underline">
                    Уже есть аккаунт? Войти
                </span>
            </div>
        </div>

        <div [ngClass]="{'translate-x-0': !isRegisterPage, '-translate-x-full': isRegisterPage}"
            class="2xl:w-[50vw] 2xl:max-h-[100vh] absolute right-0 transition-transform duration-700 ease-in-out xl:w-[50vw] xl:max-h-[100vh]">
            <img src="../assets/img/robot_bg.jpg" alt="qqqq">
        </div>
    </div>
</div>