<div>
    <div class="xl:w-[15vw] xl:min-h-screen bg-teal-300 relative overflow-hidden">
        <div class="xl:text-[3vh] font-medium text-center xl:p-3 border-b-2">Меню</div> 
        <div class="xl:text-[2.5vh] font-medium xl:ml-1 "></div>
    
        <p-accordion value="0" styleClass="custom-accordion">
            <p-accordion-panel value="0" >
                <p-accordion-header>Список моих ботов:</p-accordion-header>
                <p-accordion-content>
                        <div class="xl:ml-5">
                            <div>1-цуацуа</div>
                            <div>1-цуацуа</div>
                            <div>1-цуацуа</div>
                        </div>
                </p-accordion-content>
            </p-accordion-panel>
        
            <p-accordion-panel value="1">
                <p-accordion-header>Личный кабинет</p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                        rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo. Nemo
                        enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores eos
                        qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
        
            <p-accordion-panel value="2">
                <p-accordion-header>Header III</p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                        rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo. Nemo
                        enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores eos
                        qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
        
    </div>
</div>